# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
*.egg-info/
*.egg
dist/
build/

# PyInstaller
*.manifest
*.spec

# Installer logs
debug.log
*.log

# IDE settings
.vscode/
.idea/

# YOLO runs
runs/

# Large files
yolov8n.pt